@{
    ViewData["Title"] = "Asosiy sahifa";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to the farm management system</a>!</p>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <img src="~/Images/ccfaf11d3ee4d1af38d522c07989e876-1856128588.png" alt="Picture information" />

</div>

